* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.main-wrapper {
    height: 400px;
    position: relative;
    width: 100%;
    display: block;
    margin: 65px auto 0;
}

.main-wrapper p{
    box-sizing: border-box;
    width: 100%;
    margin: 263px auto 0;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 16px;
    background-color: rgba(80, 65, 65, 0.7);
    border-radius: 5px;
}

.main-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}
.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}
.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
    display: none;
}
.item-1 {
    z-index: 2;
    opacity: 1;
    background: url(Img/apple.jpg);
    background-size: cover;
    background-position: 0 10px;
}
.item-2 {
    background: url(Img/asus.jpg);
    background-size: cover;
    background-position: 0 -5px;
}
.item-3 {
    background: url(Img/samsung.jpg);
    background-size: cover;
}
.item-4 {
    background: url(Img/xiaomi.jpg);
    background-size: cover;
}

*:target ~ .item-1{
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4 {
    z-index: 3;
    opacity: 1;
} 

.top-wrapper {
    padding: 180px 0 100px 0;
    background-size: cover;
    background-color: rgb(83, 114, 214);
    color: black;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.fa {
    margin-right: 5px;
}

/**Header by pandu Setyawan Wiyoon**/
header {
    height: 65px;
    width: 100%;
    background-color: rgba(22, 16, 16, 0.637);
    position :fixed;
    top: 0;
    z-index: 10;
}

.header-logo {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    color: #eee;
}


.header-left {
    float: left;
    transition: all 0.5s;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 600;
    float: left;
    transition: all 0.5s;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }


.header-right a:hover {
    background-color: rgba(231, 24, 24, 0.3);
}
/**Header by pandu Setyawan Wiyoon**/

/* CSS untuk bagian body by M Ramdhan Qurrota A */
.daftar-hp{
    height: 500px;
    padding-bottom: 80px;
    background-color: rgba(238, 116, 116, 0.6);
    text-align: center;
}
.smartphone {
    height: 800px;
    padding-bottom: 10px;
    background:linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300;
    text-align: center;
}
.tipe-hp{
    float: left;
    width: 33.333%;
   
}
.hp-ikon{
    position: relative;
}
.heading{
    padding-top: 50px ;
}
.heading h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(197, 3, 35);
    font-size: 20px;
}

.message:active{
    position: relative;
    top: 7px;
    box-shadow: none;
}
.fullspek{
    background-color: rgb(255, 251, 235);
}
.spek-list{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr{
    width: 1.cm;
    border-color: rebeccapurple;
}
.tipe-hp a{
    color: rgb(0, 0, 0);
    font-weight: lighter;
}
.harga{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    color: rgb(32, 46, 129);
}
.button{
    background: rgb(48, 157, 230);
    border: 2px solid rgba(80, 24, 7, 0.678);
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 10px 10px;
    min-width: 200px;
    margin: 8px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    display: inline-block;
    opacity: 0.8;
}
.button:hover{
    color: rgb(248, 10, 10);
}
/* Style untuk Button beli dan lihat lebih lengkap */
.button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #7be5ff;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
    transform:scaleX(0);
}
.btn2::before{
    transform: scaleY(0);
}
.btn1:hover::before{
    transform: scaleX(1);
}
.btn1:hover::before{
    transform: scaleY(1);
}

/*Style untuk teks konten berisi spesifikasi hp*/
.teks-content{
    width: 80%;
    display:inline-block;
    margin-top: 20px;
    font-size: 15px;
    color:rgb(236, 187, 122);
    text-align: center;
}
.fa{
    margin-left: 5px;
}
/*CSS body by m ramdha qa */

.heading h3 {
    font-weight: normal;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

footer img {
    width: 125px;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
    }

    /*CSS untuk FORM*/
  .form {
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .form > .form-title {
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .form > form{
        display: flex;
        flex-direction: column;
        width: 25%;
        align-items: center;
    }
    
    .form-control{
        border: 0;
        border-bottom: 2px solid gray;
        outline: 0;
        background: transparent;
        width: 100%;
        padding: 10px 0;
        margin-bottom: 10px;
    }
    
    form > p {
        font-size: smaller;
    }
    
    .submit-button {
        background: black;
        color: white;
        padding: 10px 20px;
        
    }
    .submit-button:hover{
        background-color: #4CAF50;
        color:white;
        border: 1px solid #4CAF50;
    }
